*{
  padding:0;
  margin: 0;
  box-sizing: border-box; 
}
:root{
  font-size: 62.5%;
}

body{

  background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
  display: flex;
  align-items: center;
  height: 100vh ;
  
}
.hide{
  display:none;
}

main{
  padding:4.8rem 6.4rem;

  background-color: #fff;
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.10);

  width:min(42.8rem,90%);
  margin:0 auto;
}
.screen1{
  text-align: center;

}
/*screen1*/
#text h1{
  margin-bottom: 1.6rem;
  color: #34355B;
  font-family: 'Montserrat',sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
}
#text p{
  color: rgba(52, 53, 91, 0.80);
  font-family: 'DM Sans',sans-serif;
  font-size: 1.6rem;
  font-weight: 400;

  margin-bottom: 4.8rem;

}
 form{
  display: inline-flex;
  
}
button{
  padding: 1.6rem;
  border-radius: 0 0.4rem 0.4rem 0;
  background: #7879F1;
  border:none;
  cursor: pointer;
  
  color:#fff;
  font-weight: 700;
  font-family: 'DM Sans',sans-serif;
  font-size: 1.6rem;
  transition: background .3s;
}
button:hover{
  background: #6363c5;
}
input{
  background: #DCE2E9;
  padding: 1.6rem;
  align-items: center;
  border-radius: .4rem 0 0 0.4rem;
  border:none;
  color:#34355B;
  font-family: 'DM Sans',sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  width: 6rem;
}

/*screen2*/
.screen2{
  text-align: center;
}
.screen2 h2{
  font-family:'DM Sans',sans-serif;
  font-weight: normal;
  margin-bottom: 3.3rem;
  color: #34355B;
  font-size: 24px;

  
}
.screen2 button{
  border-radius: .4rem;

}